:root {
  --white: #FFF;
  --black: #000;
  --background: #F2F2F2;
  --primary: #880E4F;
  --primaryDark: #560027;
  --primaryLight: #BC477B;
  --disabledBackground: #CCC;
  --disabledColor: #666;
  --valid: #4CAF50;
  --invalid: #EF5350;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

input[type="password"],
input[type="text"],
input[type="email"] {
 border: none;
 outline: none;
}

button {
  background: var(--primary);
  color: var(--white);
  line-height: 50px;
  border-radius: 8px;
  font-size: 16px;
  border: 0;
  padding: 0 16px;

  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  
  &:disabled {
    background: var(--disabledBackground);
    color: var(--disabledColor);

    &:hover {
      opacity: 1;
    }
  }
}